body{
    width: 100%;
}

/*Header*/
header h1{
    margin: 0px auto;
}

header li {
    display: inline;
    margin: 0px 10px;
}

header ul {
    margin: 0px auto;
    padding: 0px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 65px;
    min-width: 300px;
    width: 100%;
    padding: .2em 0em .2em 0em;
    text-align: center;
}


/*main body*/
div.main {
    width: 66%;
    margin: 70px auto;
    color: #404040;
    text-align: justify;
}

p {
    width: 90%;
    margin: 0px;
    min-width: 200px;
    max-width: 900px;
    padding: 5px;
    line-height: 1.6em;
    text-align: center;
}
