body{
    width: 100%;
}

//Header
header h1 {
    margin: 0px;
}

header li {
    display: inline;
}

header ul {
    margin: 0px auto;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: .2em 0em .2em 0em;
    text-align: center;
}


//main body
p.first{
    margin-top: 80px;
}

p {
    width: 90%;
    min-width: 200px;
    max-width: 900px;
    margin: 10px;
    padding: 5px;
}
