body{
    background-color: #F8F8FF;
}

h1{
    margin: auto;
    text-align: center;
    width: 500px;
}
h1, h2, h3 {
    font-family: 'Droid Sans Mono';
}

.intro {
    font-family: 'Libre Baskerville', serif;
}

